.alert-item {
  border-bottom: solid .05rem $gray-light;
  padding: .5rem 0;
  margin: .5rem 0;
  div {
    font-size: .9rem;
    button {
      width: 100%;
      color: $white;
      padding: .3rem;
      font-size: .8rem;
      margin: .2rem 0;
    }
    h5 {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
