.news-list-container {
  // background: red;
  border-bottom: solid .05rem $gray-light;
  .list-img {
    img {
      width: 100%;
    }
  }
  div {
    .list-info {
      // background-color: red;
      font-size: .7rem;
    }
    .list-info-prin {
      // background-color: red;

      .title {
        color: $twitter-dark;
        a:hover {
          text-decoration: none;
        }
      }
      .content {
        font-size: .9rem;
        text-align: justify;
        .more {
          color: $twitter;
          font-weight: 600;
        }
      }
    }
    .list-icons {
      margin: 0 auto;
      span {
        background: red;
        border-radius: 50%;
        padding: .2rem .5rem;
        height: 2rem;
      }
      .shop-cart {
        background-color: $green;
        color: $white;
      }
      .share {
        background-color: $gray-dark;
        color: $white;
      }
    }
  }
}
