.bg-header {
  background: $green;
  text-align: center;
}
.collapse.navbar-collapse{
  // flex-direction: column;
  justify-content: flex-end;
}
.collapse.navbar-collapse{
  align-items: flex-end;
}
.bortop {
  border-top: solid .1rem $gray-light;
}
.btn-log {
  font-size: .8rem;
  margin-bottom: .2rem;
}
@media (max-width: 991px) {
  .mheight{
    // min-height: 3.5rem;
    // text-align: right;
  }
  .top-pd {
    padding-top: 3.5rem;
  }
}
