.feature-seccion {
  background-color: $gray-light;
}
.body-features {
  display: flex;
  flex-wrap: wrap;
  div {
    text-align: center;
    h5.feature-title {
      font-weight: 300;
      font-size: 1.7rem;
      line-height: .4;
      margin: 0;
      color: $white;
    }
    .feature-subtitle {
      color: $white;
      font-size: .8rem;
      line-height: .1;
    }
  }
}
.step-text {
  text-align: center;
  font-size: .8rem;
}
.step-img {
  max-width: 11rem;
}
.body-steps {
  flex-wrap: wrap;
  div {
    text-align: center;
    .step-text{
      &.green {
        color: $green;
      }
      &.blue {
        color: $wet-asphalt;
      }
      &.orange {
        color: $orange;
      }
    }
  }
}
@media (max-width: 575px) {
  .body-steps {
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      .step-img {
        max-width: 150px;
      }
    }
  }
}
