.login-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 101;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow: scroll;
}
.login-card {
  background-color: $white;
  margin: 2vh auto;
  max-width: 400px;
  border-radius: .25rem .25rem .4rem .4rem;
  .close-reg {
    text-align: right;
    margin-top: -11px;
    padding: 0;
    color: $gray;
    cursor: pointer;
    // right: 0;
    // position: absolute;
  }
  .tag-title {
    // background: red;
    text-align: left;
    color: $abestos;
    font-weight: 500;
    .bold {
      cursor: default;
      font-weight: 700;
      border-bottom: solid .05rem $green-normal;
    }
    span {
      cursor: pointer;
      // padding-left: .5rem;
      font-size: .8rem;
    }
  }
  .social-sec {
    // background: orange;
    .social-content {
      text-align: center;
      flex-wrap: wrap;
      div {
        h4 {
          color: $abestos;
          line-height: .5;
        }
        span.sub {
          font-size: .75rem;
          color: $gray;
        }
      }
      .line-under {
        // background: red;
        span {
          color: $abestos;
          font-size: .8rem;
          &::before,
          &::after {
            content: '';
            background: $gray;
            position: absolute;
            width: 45%;
            height: 1px;
            top: 50%;
            right: 2%;
          }
          &::after {
            left: 2%;
          }
        }
      }
    }
  }
}

.input-group-addon {
  width: 40px;
}
.text-rem {
  flex-wrap: wrap;
  font-size: .8rem;
  label{

  }
}
.social-icons {
  span {
    i {
      font-size: 1.3rem;
    }
  }
}
.input-login {
  display: flex;
  flex-wrap: wrap;
  span {
    padding-bottom: .2rem;
    color: $gray-dark;
  }
  input::placeholder {
    color: $gray-light;
  }
  .login-email {
    border: solid .05rem $gray;
    // border-left: 0;
  }

}
.social-login {
  margin: 0 -16px;
  .social {
    &-gp {
      transition: all .3s;
      background-color: $gplus;
      color: $white;
      border-radius: 0 0 .25rem .25rem;
      span {
        font-weight: 600;
      }
      &:hover {
        background-color: $gplus-dark;
      }
    }
    &-tw {
      transition: all .3s;
      background-color: $twitter;
      color: $white;
      span {
        font-weight: 600;
      }
      &:hover {
        background-color: $twitter-dark;
      }
    }
    &-fb {
      transition: all .3s;
      background-color: $fb;
      color: $white;
      &:hover {
        background-color: $fb-dark;
      }
      span {
        font-weight: 600;
      }
    }

  }
}
div.sub {
  font-size: .75rem;
  color: $gray;
}
