.alert-icon-bar {
  background: $twitter;
  border: solid .04rem $twitter-dark;
  padding: 0 .5rem;
  margin-left: .5rem;
  display: flex;
  color: $white;
  align-items: center;
  border-radius: .25rem;
  font-size: .9rem;
}
