.paginator-container {
  // background: red;
  border-bottom: solid .08rem $gray-light;
  ul {
    padding: .5rem;
    margin: 0;
    li {
      // border: solid .03rem $gray-dark;
      cursor: pointer;
      color: $white;
      list-style: none;
      padding: 0 .3rem;
      background-color: $gray-light;
      &:first-child {
        border-radius: .3rem 0 0 .3rem;
      }
      &:last-child {
        border-radius: 0  .3rem  .3rem 0;
      }
      &:nth-child(3) {
        background-color: $gray-very-dark;
        cursor: default;
      }
    }
  }
}
