.searchBar {
  background-image: url('/static/images/people.jpg');

}
.searchBar-text {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  color: $white;
}
.searchBar-input {
  .navbar.navbar-light {
    align-items: center;
  }
}
.input-group-addon.down {
  background: $white;
  // border-top: 1px solid rgb(86, 86, 86);
  // border-bottom: 1px solid rgb(86, 86, 86);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-left: 0;
  border-right: 0;
}
.form-group {
  .form-control.search {
    // background: red;
    border-radius: 0.25rem;
    border: solid $gray-light .05rem;
  }
}
.searchBar-filters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: .8rem;
  span {
    padding: .05rem .5rem;
    a{
      color: $white;
    }
  }
  i {
    padding-right: .3rem;
  }
}
.container-input {
  width: 100%;
  position: relative;
  z-index: 100;
  .form-control {
    width: 100%;
    border-right: 0;
  }
}
.search-options {
  background: white;
  position: absolute;
  // top: 2.4rem;
  width: 100%;
  border: solid $gray-light .05rem;
  border-top: 0;
  border-radius: 0 0 .3rem .3rem;
}
.cart-icon {
  position: fixed;
  background: $green-live;
  border: solid 0.04rem $green-normal;
  padding: .6rem .5rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 1.2rem;
  z-index: 4;
  color: #FFFFFF;
  i {
    padding-right: .2rem;
  }
}
.input-group {
  .input-group-addon.end {
    // background: red;
    border-right: solid $gray-light .05rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    &:hover {
      text-decoration: none;
      color: $gray-dark;
    }
  }
  .cart-icon-bar {
    background: $green-live;
    border: solid .04rem $green-normal;
    padding: 0 .5rem;
    margin-left: .5rem;
    display: flex;
    color: $white;
    align-items: center;
    border-radius: .25rem;
    i {
      font-size: 1.2rem;
      padding-right: .3rem;
    }
  }
}
@media only screen and (min-width: 426px) {
  .cart-icon {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .input-group {
    .cart-icon-bar {
      display: none;
    }
  }
}
