.modal-shopping {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 200;
  // opacity: .2;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.container-shop {
  background-color: white;
  border-radius: .3rem;
  margin: 5% auto;
  .close-shop{
    color: $gray;
    cursor: pointer;
    // background: $abestos-tra;
    // border-radius: 50%;
    // line-height: 0.5;
    // padding: 0.3rem 0.4rem .5rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
  }

  .shop-header, .shop-info {
    color: $abestos;
    // border-bottom: solid .05rem $abestos-tra;
    // padding-bottom: .4rem;
    h4 {
      font-size: 1.5rem;
      margin: 0
    }
    .shop-btn {
      flex-wrap: wrap;
      align-items: center;
      font-size: .9rem;
      // color: red;
      // margin: 0;
      // padding: 0;
      button {
        margin: .15rem 0;
        width: 100%;
        padding: .45rem;
        font-size: .8rem;
      }
    }
  }
  .shop-info {
    border-bottom: solid .05rem $abestos-tra;
    div {
      font-size: .8rem;
      color: $green-sea;
      font-weight: 600;
      p {
        font-size: .9rem;
        margin: 0;
      }
    }
  }
}
.shop-card {
  // background-color: orange;
  overflow: scroll;
  height: 50vh;
  .card-item {
    border-bottom: solid .05rem $abestos-tra;
    // background: aquamarine;
    align-items: center;
    flex-wrap: wrap;
    .card-title, .card-body {
      flex-wrap: wrap;
      div {
        h5 {
          font-weight: 600;
        }
      }
      .card-body {
        flex-wrap: wrap;
        div {
          .sub-title {
            font-size: 1.05rem;
          }
        }
      }
    }
    .card-buttoms {
      display: flex;
      flex-direction: column;
      button {
        font-size: .8rem;
        margin: .4rem 0;
      }
    }
  }
}
.card-empty {
  h4 {
    font-weight: bolder;
    font-size: 2rem;
    color: $gray;
  }
}
