.detalle-container {
  color: $gray;
  border-bottom: solid $gray .1rem;
}
.tip-medio {
  font-size: .8rem;
  .title {
    font-weight: 600;
  }
  p {
    margin: 0;
  }
}
.border-btn {
  border-bottom: none;
}
.related-news {
  // background-color: red;
  .related-header {
    border-top: solid $gray-light .05rem;
    text-align: center;
  }
  .related-item {
    .title {
      font-weight: 600;
      color: $gray-dark;
    }
    p {
      margin: 0;
      color: $twitter-dark;
    }
  }
}
