.panel-container {
  background-color: $gray-very-light;
  border: solid .05rem $gray;
  max-height: 220px;
}
.user-panel {
  div {
    img {
      width: 100%
    }
  }
}
.panel-menu {
  div {
    span {
      i {
        padding-right: .3rem;
      }
      font-size: .8rem;
    }
  }
}
