.bg-result-info {
  background-color: $gray-very-light;
  align-items: center;
  .result-info {
    line-height: 1;
    margin: 0;
    color: $gray-very-dark;
    span {
      color: $green-sea
    }
  }
}
