.modal-shopping {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 100;
  // opacity: .2;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.container-shop {
  background-color: white;

  .shop-header {
    color: $abestos;
    border-bottom: solid .1rem $abestos;
    padding-bottom: .4rem;
    h4 {
      margin: 0
    }
    .trns-id {
      align-items: center;
      font-size: .9rem;
      // color: red;
      // margin: 0;
      // padding: 0;
      p {
        padding-left: .2rem;
        margin: 0
      }
    }
  }
}
.shop-card {
  background-color: orange;
  .card-item {
    background: aquamarine;
    align-items: center;
    flex-wrap: wrap;
    .card-title {
      .card-body {
        flex-wrap: wrap;
        div {
          .sub-title {

          }
        }
      }
    }
    .card-buttoms {
      display: flex;
      flex-direction: column;
      a {
        font-size: .8rem;
        margin: .4rem 0;
      }
    }
  }
}
