$gray-very-light: #efefef;
$gray-light: #d9d9d9;
$gray: #adaaaa;
$gray-dark: #9e9898;
$gray-very-dark: #5f5f5f;
$white: #FFFFFF;
$green: #33C19A;
$wet-asphalt: #34495e;
$orange: #f39c12;
$abestos: #7f8c8d;
$abestos-tra: rgba(127, 140, 141, 0.34);
$green-live: #a1e42f;
$green-normal: #91ca32;
$green-sea: #16a085;
$blue: #2980b9;
$fb: 	#3b5998;
$fb-dark: #2b4271;
$twitter: #1dcaff;
$twitter-dark:#11a1ce;
$gplus: #d34836;
$gplus-dark: #ad3526;
