<template lang="html">
  <div class="col-12 px-0">
    <div v-for="item in alert" class="d-flex flex-wrap alert-item">
      <div class="col-6 col-md-3">
        <h5>Nombre</h5>
        <p>{{item.name}}</p>
      </div>
      <div class="col-6 col-md-3">
        <h5>Frecuencia</h5>
        <p>{{item.frec}}</p>
      </div>
      <div class="col-6 col-md-3">
        <h5>F. Registro</h5>
        <p>{{item.reg}}</p>
      </div>
      <div class="col-6 col-md-3">
        <button class="btn bg-primary" type="button" name="button">Editar</button>
        <button class="btn bg" type="button" name="button" @click="removeItem">Eliminar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      alert: [
        {
          name: 'Alerta de odebrech',
          frec: 'Cada vez que se produzca',
          reg: '27 de enero, 2017'
        },
        {
          name: 'Alerta de odebrech',
          frec: 'Cada vez que se produzca',
          reg: '27 de enero, 2017'
        },
        {
          name: 'Alerta de odebrech',
          frec: 'Cada vez que se produzca',
          reg: '27 de enero, 2017'
        },
        {
          name: 'Alerta de odebrech',
          frec: 'Cada vez que se produzca',
          reg: '27 de enero, 2017'
        }
      ]
    }
  },
  methods: {
    removeItem: function (item) {
      this.alert.splice(item, 1)
    }
  }
}
</script>

<style lang="css">
</style>
