<template lang="html">
  <div class="row px-4 d-flex flex-wrap news-list-container align-items-sm-center my-2">
    <div class="col-12 col-sm-3 list-img">
      <img :src="logo" alt="">
    </div>
    <div class="d-flex flex-wrap col-12 col-sm-9 p-0 pt-1">
      <div class="col-12 col-sm-10 d-flex flex-wrap justify-content-between p-0 list-info">
        <p class="m-0"><strong>{{empresa}}</strong></p>
        <p class="m-0">{{fecha}}</p>
      </div>
      <div class="col-12 col-sm-10 p-0 list-info-prin py-1">
        <h5 class="title"><a :href="source">{{title}}</a></h5>
        <p v-if="!show" class="content">{{resumen}}...
          <span @click='showComplete'class="more">
            <i class="fa fa-plus" aria-hidden="true"></i> ver mas
          </span>
        </p>
        <p v-else class="content">{{contenido}}
          <span @click='showComplete'class="more">
            <i class="fa fa-minus" aria-hidden="true"></i> ver menos
          </span>
        </p>
      </div>
      <div class="col-9 col-sm-2 list-icons d-flex justify-content-around pr-0">
        <span class="share"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="shop-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'logo',
    'title',
    'resumen',
    'contenido',
    'empresa',
    'fecha',
    'source'
  ],
  data: function () {
    return {
      show: false
      // logo: '/static/images/cat.gif',
      // title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
      // resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
      // contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      // empresa: 'El Comercio.pe (PE)',
      // fecha: '27 de enero del 2017 - 10:00 am'

    }
  },
  methods: {
    showComplete: function () {
      this.show = !this.show
    }
  }
}
</script>

<style lang="css">
</style>
