<template lang="html">
  <div class="col-12 px-0">
    <div v-for="item in alert" class="d-flex flex-wrap alert-item">
      <div class="col-6 col-md-3">
        <h5>Id transacción</h5>
        <p>{{item.id}}</p>
      </div>
      <div class="col-6 col-md-2">
        <h5>Créditos</h5>
        <p>{{item.creditos}}</p>
      </div>
      <div class="col-6 col-md-2">
        <h5>Tipo Operación</h5>
        <p>{{item.tope}}</p>
      </div>
      <div class="col-6 col-md-2">
        <h5>F. Registro</h5>
        <p>{{item.reg}}</p>
      </div>
      <div class="col-6 col-md-3">
        <button class="btn bg-primary" type="button" name="button">Ver noticias</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      alert: [
        {
          id: '123412',
          creditos: '10',
          tope: 'Compra de creditos',
          reg: '27 de enero, 2017'
        },
        {
          id: '123412',
          creditos: '10',
          tope: 'Compra de creditos',
          reg: '27 de enero, 2017'
        },
        {
          id: '123412',
          creditos: '10',
          tope: 'Compra de creditos',
          reg: '27 de enero, 2017'
        }
      ]
    }
  },
  methods: {
    removeItem: function (item) {
      this.alert.splice(item, 1)
    }
  }
}
</script>

<style lang="css">
</style>
