<template lang="html">
  <div class="footer-seccion d-flex justify-content-center py-3">
    <p>{{texto}}</p>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      texto: '© Empresa S.A. Todos los derechos reservados'
    }
  }
}
</script>

<style lang="css">
</style>
