<template lang="html">
  <nav class="mheight navbar navbar-toggleable-md navbar-light bg-header">
    <a class="navbar-brand" href="/">Company Name</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" v-for='item in links' >
          <a  class="nav-link" :href="item.url">{{item.name}}</a>
        </li>
      </ul>
        <button class="btn-log btn btn-outline-primary" @click="showLogin"><i class="fa fa-sign-in pr-1"></i>{{btnLog}}</button>
    </div>
    <cLogin v-if="login" :login="showLogin"></cLogin>
  </nav>
</template>

<script>
import cLogin from './cLogin'
export default {
  data: function () {
    return {
      login: false,
      btnLog: 'Entrar',
      links: [
        { name: 'Tarifas', url: '/' },
        { name: 'Alertas', url: '/' },
        { name: 'Quienes Somos', url: '/' },
        { name: 'Contáctanos', url: '/' }
      ]
    }
  },
  methods: {
    showLogin: function () {
      this.login = !this.login
    }
  },
  components: {
    cLogin
  }
}
</script>

<style lang="css">
</style>
