<template lang="html">
  <div class="login-container col-12">
    <div class="login-card px-3 pt-3 pb-0">
      <div class=" close-reg col-12">
        <i class="fa fa-times-circle" aria-hidden="true" @click="login"></i>
      </div>
      <div class="tag-title" v-if="register">
        <span class="bold">Inicia sesion</span>
        <span @click="changeState" class="pl-2">Registrate</span>
      </div>
      <div class="tag-title" v-else="!register">
        <span class="pr-2" @click="changeState">Inicia sesion</span>
        <span class="bold">Registrate</span>
      </div>
      <div class="social-sec">
        <div class="social-content d-flex justify-content-center pt-4">
          <div v-if="register" class="col-12">
            <h4 class="m-0">¿Ya estas registrado?</h4>
            <span class="sub pb-3">ingresa con tu cuenta o redes sociales</span>
            <!-- <p>Con tu correo electronico</p> -->
            <div class=" input-login col-12 pb-3">
              <span>Email</span>
              <!-- <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div> -->
              <input type="text" class="form-control login-email" placeholder="tu@correo.com">
            </div>
            <div class=" input-login col-12 pb-3">
              <span>Contraseña</span>
              <!-- <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div> -->
              <input type="password" class="form-control login-email" placeholder="*******">
            </div>
            <div class="text-rem col-12 p-0 d-flex">
              <span class="col-12 col-sm-6 d-flex align-items-center justify-content-star">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Recordarme</span>
                </label>
              </span>
              <span class="d-flex flex-wrap col-12 col-sm-6 p-0 m-0 justify-content-center">
                <a class="col-12" href="/panel">
                  <button class="col-12 btn btn-primary" type="button" name="button">Iniciar Sesión</button>
                </a>
                <a class="pt-1" href="#">¿olvidaste la contraseña?</a>
              </span>
            </div>
          </div>
          <div v-if="!register" class="col-12">
            <h4 class="m-0">¿Eres nuevo por aquí?</h4>
            <span class="sub pb-3">registrate con tus datos o redes sociales</span>
            <!-- <p>Con tu correo electronico</p> -->
            <div class=" input-login col-12 pb-2">
              <span>Nombre</span>
              <input type="text" class="form-control login-email" placeholder="Alexander">
            </div>
            <div class=" input-login col-12 pb-2">
              <span>Apellido</span>
              <input type="text" class="form-control login-email" placeholder="Guevara">
            </div>
            <div class=" input-login col-12 pb-2">
              <span>Apellido</span>
              <input type="email" class="form-control login-email" placeholder="tu@correo.com">
            </div>
            <div class=" input-login col-12">
              <span>Contraseña</span>
              <input type="password" class="form-control login-email" placeholder="******">
            </div>
            <div class="sub my-3">
              Al crear su cuenta esta sujeto a nuestras
              <a href="#">condiciones de uso</a> y <a href="#">Pólitica de privacidad</a>
            </div>
            <div class="text-rem col-12 p-0 d-flex">
              <span class="col-12 col-sm-6 d-flex align-items-center justify-content-star">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Recordarme</span>
                </label>
              </span>
              <span class="d-flex flex-wrap col-12 col-sm-6 p-0 m-0 justify-content-center">
                <a class="col-12" href="/panel">
                <button class="col-12 btn btn-primary" type="button" name="button">Crear cuenta</button>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="social-login pt-3">
        <div class="px-5 py-3 social-tw d-flex justify-content-between align-items-center">
          <span v-if="register">Twitter Login</span>
          <span v-else>Registrate con Twitter</span>
          <i class="fa fa-twitter"></i>
        </div>
        <div class="px-5 py-3 social-fb d-flex justify-content-between align-items-center">
          <span v-if="register">Facebook Login</span>
          <span v-else>Registrate con Facebook</span>
          <i class="fa fa-facebook"></i>
        </div>
        <div class="px-5 py-3 social-gp d-flex justify-content-between align-items-center">
          <span v-if="register">Google+ Login</span>
          <span v-else>Registrate con Google+</span>
          <i class="fa fa-google-plus"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['login'],
  data: function () {
    return {
      register: true
    }
  },
  methods: {
    changeState: function () {
      this.register = !this.register
    }
  }
}
</script>

<style lang="css">
</style>
