<template lang="html">
  <div class="col-12 ">
    <h4>Mis Creditos</h4>
    <p class="m-0">total de creditos {{creditos}}</p>
    <div class="">
      <cPaginator></cPaginator>
      <cCredits></cCredits>
    </div>
  </div>
</template>

<script>
import cPaginator from './cPaginator'
import cCredits from './cCredits'
export default {
  data: function () {
    return {
      creditos: '50'
    }
  },
  components: {
    cPaginator,
    cCredits
  }
}
</script>

<style lang="css">
</style>
