<template lang="html">
  <div class="col-12 ">
    <h4>Mis Noticias</h4>
    <div class="">
      <div class="input-group">
        <span class="container-input">
          <div class="d-flex">
            <input type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon1">
            <span class="input-group-addon down"><i class="fa fa-caret-down"></i></span>
          </div>
        </span>
        <a class="input-group-addon end px-2" href="/result">GO!</a>
      </div>
      <div  class="searchBar-filters">
        <span v-for='item in filters'>
          <a href="#"><i :class="item.icon"></i>{{item.name}}</a>
        </span>
      </div>
      <cPaginator></cPaginator>
      <div v-for="item in news">
        <cCardNews  :logo="item.logo"
                    :title="item.title"
                    :resumen="item.resumen"
                    :contenido="item.contenido"
                    :empresa="item.empresa"
                    :fecha="item.fecha"
                    :source="item.source">
        </cCardNews>
        </div>
    </div>
  </div>
</template>

<script>
import cPaginator from './cPaginator'
import cCardNews from './cCardNews'
export default {
  data: function () {
    return {
      filters: [
        { name: 'Todos', icon: 'fa fa-globe' },
        { name: 'Prensa escrita', icon: 'fa fa-newspaper-o' },
        { name: 'Televisión', icon: 'fa fa-television' },
        { name: 'Radio', icon: 'fa fa-podcast' },
        { name: 'Web', icon: 'fa fa-chrome' }
      ],
      news: [
        {
          logo: '/static/images/comercio.png',
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
          contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          empresa: 'El Comercio.pe (PE)',
          fecha: '27 de enero del 2017 - 10:00 am',
          source: '/detail'
        },
        {
          logo: '/static/images/comercio.png',
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
          contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          empresa: 'El Comercio.pe (PE)',
          fecha: '27 de enero del 2017 - 10:00 am',
          source: '/detail'
        },
        {
          logo: '/static/images/comercio.png',
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
          contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          empresa: 'El Comercio.pe (PE)',
          fecha: '27 de enero del 2017 - 10:00 am',
          source: '/detail'
        }
      ]
    }
  },
  components: {
    cPaginator,
    cCardNews
  }
}
</script>

<style lang="css">
</style>
