<template lang="html">
  <div class="col-12 ">
    <h4>Mis Pagos</h4>
    <div class="">
      <div class="input-group">
        <span class="container-input">
          <div class="d-flex">
            <input type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon1">
            <span class="input-group-addon down"><i class="fa fa-caret-down"></i></span>
          </div>
        </span>
        <a class="input-group-addon end px-2" href="/result">GO!</a>
        <span class="alert-icon-bar btn">Crear Alerta</span>
      </div>
      <cPaginator></cPaginator>
      <cPayments></cPayments>
    </div>
  </div>
</template>

<script>
import cPaginator from './cPaginator'
import cPayments from './cPayments'
export default {
  data: function () {
    return {
    }
  },
  components: {
    cPaginator,
    cPayments
  }
}
</script>

<style lang="css">
</style>
