<template lang="html">
  <div class="">
    <select class="item" v-model="selected">
      <option v-for="option in options">
        {{ option.text }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      selected: 'Ordenar por',
      options:
      [
        { text: 'Ordenar por' },
        { text: 'Fecha' },
        { text: 'Editorial' },
        { text: 'Popularidad' }
      ]

    }
  }
}
</script>

<style lang="css">
</style>
