<template lang="html">
  <div class="row px-4 py-2 d-flex justify-content-center justify-content-md-end paginator-container">
    <ul class="d-flex">
      <li><i class="fa fa-caret-left" aria-hidden="true"></i></li>
      <li v-for="n in 10">{{n}}</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
    </ul>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
    }
  }
}
</script>

<style lang="css">
</style>
