<template lang="html">
  <div class="col-12 px-0">
    <div v-for="item in alert" class="d-flex flex-wrap alert-item">
      <div class="col-6 col-md-2 col-lg-1">
        <h5>Nombre</h5>
        <p>{{item.name}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-1">
        <h5>Creditos</h5>
        <p>{{item.credits}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <h5>F. Registro</h5>
        <p>{{item.reg}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-1">
        <h5>Activo</h5>
        <p>{{item.activo}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-1">
        <h5>Cupon</h5>
        <p>{{item.cupon}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <h5>Descuento</h5>
        <p>{{item.descuento}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-1">
        <h5>Precio</h5>
        <p>{{item.precio}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-1">
        <h5>Total</h5>
        <p>{{item.total}}</p>
      </div>
      <div class="col-6 col-md-2 col-lg-2">
        <button class="btn bg-primary" type="button" name="button">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          PDF
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      alert: [
        {
          name: 'Alerta kheh',
          credits: '200',
          reg: '27 de enero, 2017',
          activo: 'Si',
          cupon: 'ope12',
          descuento: '30',
          precio: 'S./100.00',
          total: '70'
        },
        {
          name: 'Alerta kheh',
          credits: '200',
          reg: '27 de enero, 2017',
          activo: 'Si',
          cupon: 'ope12',
          descuento: '30',
          precio: 'S./100.00',
          total: '70'
        },
        {
          name: 'Alerta kheh',
          credits: '200',
          reg: '27 de enero, 2017',
          activo: 'Si',
          cupon: 'ope12',
          descuento: '30',
          precio: 'S./100.00',
          total: '70'
        }
      ]
    }
  },
  methods: {
    removeItem: function (item) {
      this.alert.splice(item, 1)
    }
  }
}
</script>

<style lang="css">
</style>
