<template lang="html">
  <div class="searchBar py-5">
    <div class="container">
      <h4 class="searchBar-text">Encuentra las noticias que buscas en un solo click.</h4>
      <div class="searchBar-input">
        <nav class="navbar navbar-light">
          <form class="col-12 col-sm-10">
            <div class="input-group">
              <span class="container-input">
                <div class="d-flex">
                  <input type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon1">
                  <span class="input-group-addon down" @click="showBox"><i class="fa fa-caret-down"></i></span>
                </div>

                <div v-if="box" class="search-options py-2 px-3">
                  <h5>Buscar por:</h5>
                  <div class="form-group">
                    <label for="inputdefault">Frase completa.</label>
                    <input type="text" class="form-control search">
                  </div>
                  <div class="form-group">
                    <label for="inputdefault">Sin las palabras.</label>
                    <input type="text" class="form-control search">
                  </div>
                  <div class="form-group">
                    <label for="inputdefault">Al menos una de las palabras.</label>
                    <input type="text" class="form-control search">
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <a class="btn btn-success btn-filtros" href="#">Aplicar Filtros</a>
                  </div>
                </div>
              </span>

              <a class="input-group-addon end" href="/result"><i class="fa fa-search"></i></a>
              <span @click="showShop" class="cart-icon-bar"><i class="fa fa-shopping-cart"></i>{{sizeAr}}</span>
            </div>
            <div  class="searchBar-filters">
              <span v-for='item in filters'>
                <a href="#"><i :class="item.icon"></i>{{item.name}}</a>
              </span>
            </div>
          </form>
        </nav>
      </div>
    </div>
    <span  @click="showShop" class="cart-icon"><i class="fa fa-shopping-cart"></i>{{sizeAr}}</span>
    <cShoppingCart v-if="shopcart" :shopcart="showShop"></cShoppingCart>
  </div>
</template>

<script>
import cShoppingCart from './cShoppinCart'
export default {
  data: function () {
    return {
      box: false,
      shopcart: false,
      sizeAr: 6,
      filters: [
        { name: 'Todos', icon: 'fa fa-globe' },
        { name: 'Prensa escrita', icon: 'fa fa-newspaper-o' },
        { name: 'Televisión', icon: 'fa fa-television' },
        { name: 'Radio', icon: 'fa fa-podcast' },
        { name: 'Web', icon: 'fa fa-chrome' }
      ]
    }
  },
  methods: {
    showBox: function () {
      this.box = !this.box
    },
    showShop: function () {
      this.shopcart = !this.shopcart
    }
  },
  components: {
    cShoppingCart
  }
}
</script>

<style lang="css">
</style>
