<template lang="html">
  <div class="modal-shopping">
    <div class="container-shop container pb-2">
      <div class="d-flex justify-content-end">
        <span class=" close-shop" @click="shopcart">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </span>
      </div>
      <div class="shop-header d-flex justify-content-between col-12 px-0 py-1">
        <h4 class="col-7 p-0">Tu carrito de compras</h4>
        <span class="col-5 px-0 shop-btn d-flex">
          <span class="col-12 col-md-6 px-1">
            <button class=" btn btn-primary"><i class="pr-1 fa fa-cart-arrow-down"></i>Comprar</button>
          </span>
          <span class="col-12 col-md-6 px-1">
            <button @click="removeAll" class=" btn btn-primary"><i class="pr-1 fa fa-trash-o"></i>Limpiar</button>
          </span>
        </span>
      </div>
      <div class="shop-info d-flex justify-content-between pt-2">
        <div class="d-flex py-1">
          <p class="pr-1"><i class="fa fa-diamond pr-1"></i>Total de creditos:</p>
          <p>{{credits - (news.length * 2)}}</p>
        </div>
        <div class="d-flex py-1">
          <p class="pr-1"><i class="fa fa-newspaper-o pr-1"></i>{{news.length}}</p>
          <p>noticias agregadas</p>
        </div>
      </div>
      <div class="shop-card">
        <div v-if="news.length == 0" class="col-12 card-empty d-flex justify-content-center px-3 py-1 my-1">
          <h4 class="pt-4">No tiene noticias :(</h4>
        </div>
        <div v-for="item in news" class="col-12 card-item d-flex justify-content-between px-3 py-1 my-1">
          <div class="card-title col-12 col-sm-8 col-md-9 col-lg-10 p-0 pt-1 d-flex m-0">
            <div class="col-12 col-lg-6 p-0 pb-1">
              <h5 class="m-0">Titular</h5>
              <p class="m-0">{{item.title}}</p>
            </div>
            <div class="card-body d-flex col-12 col-lg-6 p-0">
              <div class="col-8 pr-0 p-0">
                <h5 class="sub-title m-0">Medio</h5>
                <span>{{item.medio}}</span>
              </div>
              <div class="col-4 pl-0 p-0">
                <h5 class="sub-title m-0">Creditos</h5>
                <span>{{item.credits}}</span>
              </div>
            </div>
          </div>
          <div class="card-buttoms col-12 col-sm-4 col-md-3 col-lg-2">
            <button class="btn btn-danger" @click="removeItem">Eliminar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: ['shopcart'],
  data: function () {
    return {
      idtran: 133782,
      credits: 50,
      news: [
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          horaP: '10:00 am',
          fCompra: '27 de enero, 2017',
          horaC: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com',
          credits: 2
        },
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          hora: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com',
          credits: 2
        },
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          horaP: '10:00 am',
          fCompra: '27 de enero, 2017',
          horaC: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com',
          credits: 2
        },
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          hora: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com',
          credits: 2
        },
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          horaP: '10:00 am',
          fCompra: '27 de enero, 2017',
          horaC: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com',
          credits: 2
        },
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          hora: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com',
          credits: 2
        }
      ]
    }
  },
  methods: {
    removeItem: function (index) {
      this.news.splice(index, 1)
    },
    removeAll: function (news) {
      console.log(this.news)
      return this.news.splice(function (item) {
        console.log('khe' + item)
        // return item.credits === 0
      })
    }
  }
}
</script>

<style lang="css">
</style>
