<template>
  <div class="">
    <div class="container">
      <div class="body-title d-flex justify-content-center py-4">
        <h4 class="col-10 col-md-7 text-center">Te explicamos como funciona <br> en <strong>3 simmples pasos</strong></h4>
      </div>
      <div class="body-steps col-12 d-flex justify-content-center justify-content-sm-between">
        <div class="col-10 col-sm-4 col-md-3 col-lg-3 px-4" v-for="item in steps">
          <img class="step-img" :src='item.img' :alt='item.alt'>
          <p :class="item.class">{{item.texto}}</p>
        </div>
      </div>
    </div>
    <div class="feature-seccion py-4">
      <div class="container">
          <div class="body-features col-12 d-flex justify-content-center justify-content-sm-between ">
            <div class="col-10 col-sm-4 col-md-3 col-lg-3 px-2 py-2" v-for="item in features">
              <!-- <img class="step-img" :src='item.img' :alt='item.alt'> -->
              <h5 class="feature-title">{{item.texto}}</h5>
              <span class="feature-subtitle">{{item.sub}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data: function () {
    return {
      msg: 'Welcome to Your Vue.js App',
      steps: [
        { texto: '1. Utilizar nuestro buscador para encontrar las noticias que te interesen.', img: '/static/images/pokeball.svg', alt: 'imagen noticia', class: 'step-text pt-2 green' },
        { texto: '2. Elige la noticia o noticias que desees descargar.', img: '/static/images/pokeball.svg', alt: 'imagen lupa', class: 'step-text pt-2 blue' },
        { texto: '3. Descargar cada noticia en formato PDF directamente a tu equipo.', img: '/static/images/pokeball.svg', alt: 'imagen pdf', class: 'step-text pt-2 orange' }
      ],
      features: [
        { texto: '+2 millones ', sub: 'de noticias registradas' },
        { texto: '+20 mil ', sub: 'búsquedas diarias' },
        { texto: '+2mil', sub: 'medios consultados' }
      ]
    }
  }
}
</script>
