<template lang="html">
  <div class="container d-flex flex-wrap px-0 pt-4">
    <div class="col-12 col-sm-4 col-md-3 col-lg-2 panel-container d-flex flex-wrap">
      <div class=" col-12 col-sm-12 px-0 user-panel d-flex flex-wrap align-items-center">
        <div class="col-4 p-sm-0">
          <img src="/static/images/meowth.svg" alt="">
        </div>
        <p class="col-8">Alexander Guevara</p>
      </div>
      <div class="d-flex panel-menu flex-wrap col-12 col-sm-12 p-0">
        <div class="col-6 col-sm-12">
          <span @click="showNews"><i class="fa fa-newspaper-o"></i>Mis Noticias</span>
        </div>
        <div class="col-6 col-sm-12">
          <span @click="showAlerts"><i class="fa fa-exclamation-triangle"></i>Mis Alertas</span>
        </div>
        <div class="col-6 col-sm-12">
          <span @click="showPayments"><i class="fa fa-credit-card-alt"></i>Mis Pagos</span>
        </div>
        <div class="col-6 col-sm-12">
          <span @click="showCredits"><i class="fa fa-diamond"></i>Mis Creditos</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-10 px-0">
      <cMyNews v-if="news"></cMyNews>
      <cMyAlerts v-if="alerts"></cMyAlerts>
      <cMyPayments v-if="payments"></cMyPayments>
      <cMyCredits v-if="credits"></cMyCredits>
    </div>
  </div>
</template>

<script>
import cMyNews from './cMyNews'
import cMyAlerts from './cMyAlerts'
import cMyPayments from './cMyPayments'
import cMyCredits from './cMyCredits'
export default {
  data: function () {
    return {
      news: true,
      alerts: false,
      payments: false,
      credits: false
    }
  },
  methods: {
    showNews: function () {
      this.news = true
      this.alerts = false
      this.payments = false
      this.credits = false
    },
    showAlerts: function () {
      this.news = false
      this.alerts = true
      this.payments = false
      this.credits = false
    },
    showPayments: function () {
      this.news = false
      this.alerts = false
      this.payments = true
      this.credits = false
    },
    showCredits: function () {
      this.news = false
      this.alerts = false
      this.payments = false
      this.credits = true
    }
  },
  components: {
    cMyNews,
    cMyAlerts,
    cMyPayments,
    cMyCredits
  }
}
</script>

<style lang="css">
</style>
