<template>
  <div class="container">
    <div class="row d-flex justify-content-between bg-result-info px-4 py-2">
      <div class="">
        <p class="result-info">Se encontraron <span>{{news.length}} Noticias</span> para la búsqueda seleccionada.</p>
      </div>
      <cOrderBy></cOrderBy>
    </div>
    <cPaginator></cPaginator>
    <div v-for="item in news">
      <cCardNews  :logo="item.logo"
                  :title="item.title"
                  :resumen="item.resumen"
                  :contenido="item.contenido"
                  :empresa="item.empresa"
                  :fecha="item.fecha"
                  :source="item.source">
      </cCardNews>
    </div>

  </div>
</template>

<script>
import cPaginator from './cPaginator'
import cOrderBy from './cOrderBy'
import cCardNews from './cCardNews'
export default {
  // name: 'about',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      news: [
        {
          logo: '/static/images/comercio.png',
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
          contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          empresa: 'El Comercio.pe (PE)',
          fecha: '27 de enero del 2017 - 10:00 am',
          source: '/detail'
        },
        {
          logo: '/static/images/comercio.png',
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
          contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          empresa: 'El Comercio.pe (PE)',
          fecha: '27 de enero del 2017 - 10:00 am',
          source: '/detail'
        },
        {
          logo: '/static/images/comercio.png',
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          resumen: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation',
          contenido: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          empresa: 'El Comercio.pe (PE)',
          fecha: '27 de enero del 2017 - 10:00 am',
          source: '/detail'
        }
      ]
    }
  },
  components: {
    cOrderBy,
    cPaginator,
    cCardNews
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
