<template lang="html">
  <div class="modal-shopping">
    <div class="container-shop container my-5">
      <span  @click="shopcart">x</span>
      <div class="shop-header d-flex justify-content-between">
        <h4>Listado de noticias</h4>
        <span class="trns-id d-flex">
          <p>Id Transacción</p>
          <p>{{idtran}}</p>
        </span>
      </div>
      <div class="shop-card">
        <div v-for="item in news" class="col-12 card-item d-flex justify-content-between p-3 my-2">
          <div class="card-title col-12 p-0">
            <p class="col-12 p-0">{{item.title}}</p>
            <div class="card-body d-flex col-12 p-0">
              <div class="col-6 pl-0 pr-1">
                <p class="sub-title m-0">Tipo de medio</p>
                <span>{{item.tipMed}}</span>
              </div>
              <div class="col-6 pr-0 pl-1">
                <p class="sub-title m-0">Medio</p>
                <span>{{item.medio}}</span>
              </div>
              <div class="">
                <p class="sub-title">F. Publicación</p>
                <span>{{item.fPublicacion}}</span>
                <span>{{item.horaP}}</span>
              </div>
              <div class="">
                <p class="sub-title">F. Publicación</p>
                <span>{{item.fCompra}}</span>
                <span>{{item.horaC}}</span>
              </div>
              <div class="">
                <p class="sub-title">Pais</p>
                <span>{{item.pais}}</span>
              </div>
            </div>
          </div>
          <div class="card-buttoms col-12">
            <a class="btn btn-primary" href="">Descargar pdf</a>
            <a class="btn btn-primary" :href="item.source">ver fuente</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: ['shopcart'],
  data: function () {
    return {
      idtran: 133782,
      news: [
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          horaP: '10:00 am',
          fCompra: '27 de enero, 2017',
          horaC: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com'
        },
        {
          title: 'Fiscalia emitirá informe sobre Madre Mía tras interceptaciones',
          tipMed: 'web',
          medio: 'www.elcomercio.pe',
          fPublicacion: '27 de enero, 2017',
          hora: '10:00 am',
          pais: 'Perú',
          source: 'www.google.com'
        }
      ]
    }
  }
}
</script>

<style lang="css">
</style>
