<template>
  <div id="app">
    <cHeader></cHeader>
    <cSearch></cSearch>

    <!-- <nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">imedia-example</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav> -->
    <div>
      <router-view></router-view>
    </div>
    <cFooter></cFooter>
  </div>
</template>

<script>
import cHeader from 'src/components/cHeader'
import cSearch from 'src/components/cSearchBar'
import cFooter from 'src/components/cFooter'
export default {
  name: 'app',
  data () {
    return {
      title: 'imedia-example'
    }
  },
  components: {
    cHeader,
    cSearch,
    cFooter
    // Components go here
  }
}
</script>
<style lang="scss" src="src/scss/application.scss"></style>
